<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="swust.edu.cn.zzxt.dao.AttachmentMapper" >
  <resultMap id="BaseResultMap" type="swust.edu.cn.zzxt.model.Attachment" >
    <id column="atta_id" property="attaId" jdbcType="INTEGER" />
    <result column="atta_uploadName" property="attaUploadname" jdbcType="VARCHAR" />
    <result column="atta_serverName" property="attaServername" jdbcType="VARCHAR" />
    <result column="atta_path" property="attaPath" jdbcType="VARCHAR" />
    <result column="atta_annoId" property="attaAnnoid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    atta_id, atta_uploadName, atta_serverName, atta_path, atta_annoId
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from attachment
    where atta_id = #{attaId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from attachment
    where atta_id = #{attaId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="swust.edu.cn.zzxt.model.Attachment" >
    insert into attachment (atta_id, atta_uploadName, atta_serverName, 
      atta_path, atta_annoId)
    values (#{attaId,jdbcType=INTEGER}, #{attaUploadname,jdbcType=VARCHAR}, #{attaServername,jdbcType=VARCHAR}, 
      #{attaPath,jdbcType=VARCHAR}, #{attaAnnoid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="swust.edu.cn.zzxt.model.Attachment" >
    insert into attachment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="attaId != null" >
        atta_id,
      </if>
      <if test="attaUploadname != null" >
        atta_uploadName,
      </if>
      <if test="attaServername != null" >
        atta_serverName,
      </if>
      <if test="attaPath != null" >
        atta_path,
      </if>
      <if test="attaAnnoid != null" >
        atta_annoId,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="attaId != null" >
        #{attaId,jdbcType=INTEGER},
      </if>
      <if test="attaUploadname != null" >
        #{attaUploadname,jdbcType=VARCHAR},
      </if>
      <if test="attaServername != null" >
        #{attaServername,jdbcType=VARCHAR},
      </if>
      <if test="attaPath != null" >
        #{attaPath,jdbcType=VARCHAR},
      </if>
      <if test="attaAnnoid != null" >
        #{attaAnnoid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="swust.edu.cn.zzxt.model.Attachment" >
    update attachment
    <set >
      <if test="attaUploadname != null" >
        atta_uploadName = #{attaUploadname,jdbcType=VARCHAR},
      </if>
      <if test="attaServername != null" >
        atta_serverName = #{attaServername,jdbcType=VARCHAR},
      </if>
      <if test="attaPath != null" >
        atta_path = #{attaPath,jdbcType=VARCHAR},
      </if>
      <if test="attaAnnoid != null" >
        atta_annoId = #{attaAnnoid,jdbcType=INTEGER},
      </if>
    </set>
    where atta_id = #{attaId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="swust.edu.cn.zzxt.model.Attachment" >
    update attachment
    set atta_uploadName = #{attaUploadname,jdbcType=VARCHAR},
      atta_serverName = #{attaServername,jdbcType=VARCHAR},
      atta_path = #{attaPath,jdbcType=VARCHAR},
      atta_annoId = #{attaAnnoid,jdbcType=INTEGER}
    where atta_id = #{attaId,jdbcType=INTEGER}
  </update>
</mapper>